<div id="container">
  <%= image_tag "howcrude.gif", class: "gif" %><%= image_tag "boom.gif" %>
  <h1>softreplies <small>tell me soft things</small></h1>

  <p><span class="pink">Tell me soft things.</span> <span class="blue">The soft make me ache</span>. <span class="orange">Take me away, away, and</span> <span class="purple">lay me down into softness</soab<</p>
</div>
