// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-left: 1em;
}

h1 {
  font-family: "Open Sans";
  color: #c0c0c0;
}

.gif {
  width: 10em;
}
